<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eventeasy">
    <!-- permissao para a cessar a galeria -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_eventeasy"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_eventeasy"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.home.EspacosActivity"
            android:parentActivityName=".MenuInicialActivity"
            android:targetActivity=".ui.home.EspacosActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.home.ServicosActivity"
            android:parentActivityName=".MenuInicialActivity"
            android:targetActivity=".ui.home.ServicosActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.home.CriarServico"
            android:parentActivityName=".ui.home.OpcaoAnuncio"
            android:targetActivity=".ui.home.CriarServico"
            android:screenOrientation="portrait"/>


        <activity
            android:name=".ui.home.CriarEspaco"
            android:parentActivityName=".ui.home.OpcaoAnuncio"
            android:targetActivity=".ui.home.CriarEspaco"
            android:screenOrientation="portrait"/>


        <activity
            android:name=".ui.home.OpcaoAnuncio"
            android:parentActivityName=".MenuInicialActivity"
            android:targetActivity=".ui.home.OpcaoAnuncio"
            android:screenOrientation="portrait"/>


        <activity
            android:name=".MenuInicialActivity"
            android:label="@string/title_activity_menu_inicial"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CadPrestador"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CadCliente"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TpCad"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>